<Div style="text-align: center;">
<h1>{{title}}</h1>
</Div>

<ol>
  @for(t of todos; track $index){
<li [class.completed] = "t.completed">
  <p><button (click)="deleteTodo(t)">x</button> 
  {{ t.task }} (Duration: {{ t.duration }}) - {{ t.completed ? 'Completed' : 'Not completed' }} 
  <button [hidden] = "t.completed" (click)="updateTodo(t)">Complete</button>
</li>
}
</ol>

<Div>
  <H1> New Task </H1>

  <Div>
  <h3>Description:</h3> <input type="text" [(ngModel)]="formTodo.task" >
  <h3>Duration:</h3> <input type=number [(ngModel)]="formTodo.duration">
  <input  type="hidden" value = false>

  
  
  <div>
    <br>
<button (click)="addTodo()">Add</button>
</div>

  </Div>


</Div>

